01_workflow/flows/local_gcs_price_paid.yml
id: gcs_price_paid
namespace: housing_local

inputs:
  - id: year
    type: SELECT
    displayName: "year"
    defaults: "2024"
    values:
      - "1995"
      - "1996"
      - "1997"
      - "1998"
      - "1999"
      - "2000"
      - "2001"
      - "2002"
      - "2003"
      - "2004"
      - "2005"
      - "2006"
      - "2007"
      - "2008"
      - "2009"
      - "2010"
      - "2011"
      - "2012"
      - "2013"
      - "2014"
      - "2015"
      - "2016"
      - "2017"
      - "2018"
      - "2019"
      - "2020"
      - "2021"
      - "2022"
      - "2023"
      - "2024"

variables:
  file_name: "pp-{{inputs.year}}"
  data: "{{outputs.download_price_paid.outputFiles['pp-' ~ inputs.year ~ '.csv']}}"
  gcs_file_path: "gs://{{secret('GCP_RAW_BUCKET_NAME')}}/{{vars.file_name}}.csv"

tasks:
  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      year: "{{inputs.year}}"

  - id: download_price_paid
    type: io.kestra.plugin.scripts.python.Commands
    containerImage: ghcr.io/kestra-io/pydata:latest # need for pyarrow
    namespaceFiles:
      enabled: true
    beforeCommands:
      - pip install -r ./scripts/requirements.txt
    commands:
      - python ./scripts/get_price_paid.py --file_name={{render(vars.file_name)}}.csv --base_url={{secret('PRICE_PAID_BASE_URL')}} --is_kestra
    outputFiles:
      - "*.csv"

  - id: upload_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{render(vars.data)}}"
    to: "{{render(vars.gcs_file_path)}}"

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDENTIALS')}}"
      projectId: "{{secret('GCP_PROJECT_ID')}}"
      location: "{{secret('GCP_LOCATION')}}"
